body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: green;
}

.container {
    text-align: center;
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#lanciaDadi {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#risultati p {
    margin: 10px 0;
}

#vincitore {
    margin-top: 20px;
    font-weight: bold;
}